.skill_bar_section * {
    font-family: Nunito, sans-serif;
  }
  
  .skill_bar_section .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    font-size: 16px;
  }
  
  .skill_bar_section .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .skill_bar_section .responsive-cell-block {
    min-height: 75px;
  }
  
  .skill_bar_section .responsive-container-block.container {
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
    max-width: 1320px;
    overflow-x: hidden;
    overflow-y: visible;
  }
  
  .skill_bar_section .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
  }
  
  .skill_bar_section .text-blk.section-head {
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    max-width: 580px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 55px;
    margin-left: 0px;
  }
  
  .skill_bar_section .text-blk.skill-name {
    font-size: 19px;
    line-height: 27px;
    font-weight: 700;
  }
  
  .skill_bar_section .skill-bar {
    height: 6px;
    background-color: #eeeeee;
  }
  
  .skill_bar_section .skills {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 55px;
    margin-left: 0px;
    position: relative;
  }
  
  .skill_bar_section .skill-per {
    height: 6px;
    background-color: #7bb9ff;
    width: 0px;
    transition-duration: 1.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: all;
  }
  
  .skill_bar_section .skills-name-box {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
  }
  
  .skill_bar_section .skill-per::after {
    position: absolute;
    content: attr(percentage) "%";
    top: 0px;
    right: 0px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .skill_bar_section .skill-per.two {
    background-color: #5580ff;
  }
  
  .skill_bar_section .skill-per.three {
    background-color: #ff8a73;
  }
  
  .skill_bar_section .skill-per.four {
    background-color: #fed066;
  }
  
  .skill_bar_section .circle {
    max-width: 536px;
    max-height: 536px;
    width: 100%;
    height: 100%;
    background-color: #fed066;
    border-top-left-radius: 270px;
    border-top-right-radius: 270px;
    border-bottom-right-radius: 270px;
    border-bottom-left-radius: 270px;
    position: absolute;
    left: 6%;
    bottom: -10%;
  }
  
  .skill_bar_section .img {
    width: 130%;
    position: relative;
    right: 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 6px 12px 24px;
  }
  
  .skill_bar_section .right-side {
    position: relative;
    height: 80%;
    display: flex;
    align-items: center;
  }
  
  .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-ipadp-10.wk-tab-11.wk-desk-6 {
    min-height: 650px;
  }
  
  @media (max-width: 1024px) {
    .skill_bar_section .img {
      right: 0px;
      left: 0px;
      width: 100%;
    }
  
    .skill_bar_section .circle {
      left: -10%;
      bottom: -15%;
      right: 0px;
    }
  
    .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-ipadp-9.wk-tab-10.wk-desk-6.left-one {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 60px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-ipadp-9.wk-tab-10.wk-desk-6.left-one {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  
    .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-tab-11.wk-desk-6.wk-ipadp-10 {
      min-height: 450px;
    }
  
    .skill_bar_section .text-blk.skill-name {
      font-size: 18px;
    }
  
    .skill_bar_section .text-blk.section-head {
      font-size: 30px;
      line-height: 40px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 500px) {
    .skill_bar_section .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .skill_bar_section .text-blk.section-head {
      font-size: 26px;
      line-height: 36px;
    }
  
    .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-tab-11.wk-desk-6.wk-ipadp-10 {
      min-height: 75px;
    }
  
    .skill_bar_section .skills-name-box {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 16px;
      margin-left: 0px;
    }
  
    .skill_bar_section .skills {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
}




@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}